<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate News NLP Project for FEND</title>
    </head>

    <body>

        <header>
            <div class="logo">
            </div>

        </header>

        <main>
            <section>
                <form id="textForm">
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <input id="btn-submit" type="submit" name="" value="Submit">
                </form>
            </section>

            <section>
                <strong>Article Analysis</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>brought to you by Matt Rauscher</p>
        </footer>

    </body>
</html>
